@import "~/app/PontheStyle.scss";

Button {
    @include mobileButton;
}

Label {
    @include font-size(LARGE);
    font-weight: 600;
    margin-top: units(3);
}

TextField {
    width: 100%;
    color: color(DARK_DARK_GREY);
}