@import url("../../../assets/assets_c/css/main.css");
@import "../../PontheStyle.scss";

.signup-form input {
	box-shadow: $BOX-SHADOW-INPUT-BASE $BOX-SHADOW-INPUT-SHIFT-NONE;
}

.signup-form input:focus {
	box-shadow: $BOX-SHADOW-INPUT-BASE $BOX-SHADOW-INPUT-SHIFT-FOCUS;
}
form {
	margin: 0;
}

#sso {
	font-weight: 600;
	font-size: 1.25em;
	margin-top: 32px;
	text-shadow: $AUTH-TEXT-SHADOW-LIGHT;
}
#sso a:hover {
	text-decoration: underline;
}

video {
	top:0;
	right:0;
	min-height: 100vh;
	min-width:100vw;
}

@media screen and (max-width: 1280px) {
	video {
		height: 100vh;
		min-width: 100vw;
	}
}
@media screen and (max-width: 980px) {
	video {
		left: -20vw;
	}
}
@media screen and (max-width: 520px) {
	video {
		width: auto;
		height: 100vh;
		left: -100vw;
	}
}
