@import url("../../assets/assets_c/css/main.css");

body {
  margin-top: -8em;
}

.form1 > input, select, p {
  margin-bottom: 1em;
}

select {
  margin-left: -6em;
}

.form1 > .submit {
  width: 10em;
}
