@import url("../../assets/assets_c/css/main.css");

body {
  margin-top: -8em;
}

.form1 > input, select, p ,q {
  margin-bottom: 1em;
}

p {
  margin-top: 23px;
}


select {
  margin-left: -6em;
  padding: 0px 47px;
}

.form1 > .submit {
  width: 10em;
}
