@import url("../../../assets/assets_g/css/main.css");
@import "../../PontheStyle.scss";

.spacer {
  margin-top: 4em;
}

html, body {
	background: $PONTHE-DARK-GREY;
}

#main .thumb > .image {
	-webkit-tap-highlight-color: $PONTHE-WHITE;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border: 0;
	height: 100%;
	left: 0;
	position: absolute;
	top: -20vh;
	width: 100%;
}

#image-viewer {
  height : 70vh;
}

#deleteButton {
  z-index: 5000;
  position: absolute;
  top: 1vh;
  left: 0.5vw;
  background: $OVERLAY-LIGHT-GREY;
  border-radius: 16px;
}

#deleteButtonSelected {
  z-index: 5000;
  position: absolute;
  top: 1vh;
  left: 0.5vw;
  background: $BUTTON-BACKGROUND-DANGER;
  border-radius: 16px;
}

.thumb > caption {
  position: absolute;
  top: 36.3vh;
  left: 2.75%;
  font-weight: 300;
  color: white;
  font-size: 0.75em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  z-index: 1;
}

#fullBackground {
  width: 100vw;
  height: 92vh;
  top: 8vh;
  left: 0;
  background: $PONTHE-DARK-GREY;
  position: fixed;
  z-index: -1;
}

#uploadBanner {
  width: 3.5em;
  right: 0;
  top: 12.5vh;
  position: fixed;
  transform: translateX(1em);
  background: $BUTTON-BACKGROUND-GRADIENT;
  padding: 10px;
  border-radius: 12px;
  transition: width 0.5s ease-in-out;
  z-index: 1;
}
#uploadBanner:hover {
  width: 4.5em;
}
#uploadBanner > a {
  color: $PONTHE-WHITE;
  transition: padding-left 0.5s ease-in-out;
  cursor: pointer;
}
#uploadBanner:hover > a {
  padding-left: 0.5em;
}
#uploadBanner:hover > a:hover {
  color: $PONTHE-LIGHT-GREY !important;
}

#userUploadArea {
  position: fixed;
  background: $OVERLAY-DARK-GREY;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  padding-left: 35vw;
  padding-right: 35vw;
  padding-top: 25vh;
  z-index: 2;
}

@media screen and (max-width: 736px) {
  #fullBackground {
    top: 5em;
  }
}
