<div class="spacer"></div>

<!-- Moderation buttons -->
<app-galeries-moderation-buttons *ngIf="isAdmin" [selectedRoute]="selectedRoute" [moderationState]="moderationState"></app-galeries-moderation-buttons>
<!-- Upload for random users -->
<app-upload *ngIf="!isAdmin"></app-upload>

<!-- Main -->
<!-- Pictures of the event -->
<div id="main" (mouseenter)="survolePics('visible')"> <!--(mouseleave) = "survolePics('hidden')">-->
  <article class="thumb" *ngFor="let picture of pics; let i = index" [@picsTrigger]="state(i)">
    <img (click)="onClickPic(i)" style="cursor: pointer; position: absolute;" src="{{ picture.base64 }}" alt="" width="100%"/>
    <caption>{{ name }}</caption>
    <button *ngIf="enModeration && !deleteState(i)"
            id="deleteButton" type="button" name="button" style="color: #fc3"
            (click)="moderePic(i)">
      Supprimer
    </button>
    <button *ngIf="enModeration && deleteState(i)"
            id="deleteButtonSelected" type="button" name="button" style="color: #fc3"
            (click)="moderePic(i)">
      Supprimer
    </button>
  </article>
</div>

<!-- Dark background -->
<div id="fullBackground"
     style="width: 100vw; height: 92vh; top:8vh; left:0; background: #242628; position: fixed; z-index: -1"
     (mouseenter)="survolePics('visible')"
     (mouseleave)="survolePics('hidden')"></div>

<!-- Image Viewer -->
<app-image-viewer *ngIf="picClicked" [captionWidePic]="name" [indexPicture]="indexViewer" (closeViewer)="closePic($event)"></app-image-viewer>

<!-- Header and Footer, revealed when clicking on "A propos de l'album" -->
<app-galeries-footer [nameEvent]="name" [resumeEvent]="resume"></app-galeries-footer>

<app-loading-spinner *ngIf="displaySpinner" [@spinnerTrigger]="stateSpinner"></app-loading-spinner>
