@import url("../../../assets/assets_h/css/main.css");
@import "../../PontheStyle.scss";

input {
  background: linear-gradient(30deg, red, yellow);
}

input:focus, textarea:focus {
  box-shadow: $BOX-SHADOW-INPUT-BASE $BOX-SHADOW-INPUT-SHIFT-FOCUS-LIGHT;
}

label {
	color: color(DARK_GREY);
	text-align: left;
  font-size: font-size(XLARGE);
  margin-bottom: units(0.5);
}

#success, #failure {
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
	font-size: font-size(MEDIUM);
	text-align: left;
	display: block;
	transition: visibility 0.3s ease;
}
#success::before, #failure::before {
	padding-right: units(1);
}
#success {
	color: color(SUCCESS);
}
#failure {
	color: color(FAILURE);
}

.visible {
	visibility: visible;
}
.hidden {
	visibility: hidden;
}

#container {
	width: 100%;
	overflow-x: scroll;
	margin: 0 1.5em;

	@include sm {
		margin: 0 units(2);
	}
}

#items {
	display: flex;
	overflow-x: scroll;
}

.itemCard {
	width: units(30);
	height: units(47.5);
	padding: units(2) + 3;
	border: 1px solid color(LIGHT_GREY);
	border-radius: units(3);
	margin: units(1);
	vertical-align: top;
	transition: background 0.3s ease, box-shadow 0.3s ease;

	@include sm {
		padding: units(1) + 3;
		height: units(33);
		width: units(22);
	}
	@include md {
		padding: units(1) + 3;
		height: units(42.5);
		width: units(25);
	}
}
.itemCard:hover {
	background: color(LIGHT_GREY);
	box-shadow: box-shadow(LIGHT);
	cursor: pointer;
}

.itemPic {
	max-width: 100%;
	height: units(22);

	@include sm {
		height: units(15);
	}
}
.itemCard img {
	max-width: 100%;
	max-height: units(20);
	margin: auto;

	@include sm {
		height: units(13);
	}
}

.itemCard h2 {
	font-size: font-size(XXLARGE);
	margin-bottom: units(1);

	@include sm {
		font-size: font-size(LARGE);
	}
}
.itemCard p {
	font-size: font-size(XLARGE);
	line-height: 1.5em;

	@include sm {
		font-size: 14px;
	}
	@include md {
		font-size: font-size(MEDIUM);
	}
}

.selected {
	border: 4px solid color(SUCCESS);
	padding: units(2);

	@include sm {
		padding: units(1);
	}
	@include md {
		padding: units(1);
	}
}