<div id="image-viewer">
     <!-- Image viewer -->
     <!-- Darken the background -->
     <div class="darkbg" (click)="closeWidePic()"></div>

     <!-- Image enlarged -->
     <div class="wide-pic"
          [style.marginTop.px]="placePicTop(imgWide)"
          (mouseenter)="displayArrows()"
          (mouseleave)="hideArrows()">
     <img #imgWide [src]="widePicRef" style="cursor: pointer"/>
     <caption>{{ captionWidePic }}</caption>
     <a [href]="widePicRef" [download]="downloadedDocumentName()" class="icon fa fa-download fa-2x" id="downloadButton" [@widePicsAnimation]="showArrows+''" aria-label="download button"></a>
     <caption *ngIf="isGallery" id="num_photo" [@widePicsAnimation]="showArrows+''">
     {{ 'imageViewer.pic' | translate }} {{ indexPicture+1 }} / {{ rawPics.length }}
     </caption>

     <!-- Closer -->
     <img id="closer"
          src="../../../assets/assets_h/css/images/poptrox-closer.svg"
          (click)="closeWidePic()"
          [@widePicsAnimation]="showArrows+''"/>
     <!-- Navigation arrows -->
     <img *ngIf="indexPicture < rawPics.length - 1"
          id="right_arrow"
          src="../../../assets/assets_h/css/images/poptrox-nav.svg"
          (click)="navRight()"
          [@widePicsAnimation]="showArrows+''"/>
     <img *ngIf="indexPicture > 0"
          id="left_arrow"
          src="../../../assets/assets_h/css/images/poptrox-nav.svg"
          (click)="navLeft()"
          [@widePicsAnimation]="showArrows+''"/>
     </div>
</div>