<!-- Header -->
<div>
  <header id="header" >
    <a [routerLink]='routes.newAccount'><img src="assets/images/logo-ponthe.svg" [alt]="'nav.title.short' | translate" id="logo" /></a>
    <h1><a [routerLink]='routes.newAccount'>{{ 'cgu.backToRegister' | translate }}</a></h1>
  </header>
</div>

<!-- h2 title -->
<section>
  <h2 id="cgu-title" [innerHTML]="'cgu.title' | translate"></h2>
</section>

<!-- Articles of the General terms and Conditions -->
<section *ngFor="let article of articles">
  <h2>{{ article.title }}</h2>
  <p>{{ article.body }}</p>
</section>
