@import url("../../../assets/assets_h/css/main.css");
@import "../../PontheStyle.scss";

section {
  text-align: justify;
}

section, #cgu-title {
  margin: 3.5em;
}

#cgu-title {
  margin-top: 3em;
  margin-bottom: 2.5em;
  text-align: center;
  color: $PONTHE-YELLOW;
  text-decoration: underline;
}

@media screen and (max-width: map-get($breakpoints, small)) {
	#cgu-title {
		margin: 0;
	}
}
