<!-- Image viewer -->
<!-- Darken the background -->
<div class="darkbg" (click)="closeWidePic()"></div>

<!-- Image enlarged -->
<div class="wide-pic"
     [style.marginLeft.px]="placePicLeft(imgWide)"
     [style.marginTop.px]="placePicTop(imgWide)"
     (mouseenter)="displayArrows()"
     (mouseleave)="hideArrows()">
  <img #imgWide [src]="widePicRef" style="cursor: pointer"/>
  <caption>{{ captionWidePic }}</caption>
  <caption id="num_photo">Pic {{ indexPicture+1 }} / {{ rawPics.length }}</caption>

  <!-- Closer -->
  <img id="closer"
       src="../../assets/assets_h/css/images/poptrox-closer.svg"
       (click)="closeWidePic()"
       [@widePicsAnimation]="showArrows+''"
       (mouseenter)="displayArrows()"
       (mouseleave)="hideArrows()"/>
  <!-- Navigation arrows -->
  <img id="right_arrow"
       src="../../assets/assets_h/css/images/poptrox-nav.svg"
       (click)="navRight()"
       [@widePicsAnimation]="showArrows+''"
       (mouseenter)="displayArrows()"
       (mouseleave)="hideArrows()"/>
  <img id="left_arrow"
       src="../../assets/assets_h/css/images/poptrox-nav.svg"
       (click)="navLeft()"
       [@widePicsAnimation]="showArrows+''"
       (mouseenter)="displayArrows()"
       (mouseleave)="hideArrows()"/>
</div>
