@import url("../../../assets/assets_c/css/main.css");

/* Icon */
.icon {
  text-decoration: none;
  border-bottom: none;
  position: relative;
}

.icon:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-transform: none !important;
}

.icon > .label {
	display: none;
}

/* Icons */

ul.icons {
	cursor: default;
	list-style: none;
	padding-left: 0;
}

ul.icons li {
	display: inline-block;
	padding: 0 1em 0 0;
}

ul.icons li:last-child {
	padding-right: 0;
}

ul.icons li .icon:before {
	font-size: 1.25em;
}

ul.icons li a {
	color: inherit;
}

/* Footer */
#footer {
  -moz-transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  bottom: 4em;
  color: rgba(255, 255, 255, 0.5);
  left: 4em;
  opacity: 0.5;
  position: fixed;
}

#footer .icons {
	margin: 0 0 0.5em 0;
}

#footer .copyright {
	font-size: 0.8em;
	list-style: none;
	padding: 0;
}

	#footer .copyright li {
		border-left: solid 1px rgba(255, 255, 255, 0.25);
		display: inline-block;
		line-height: 1em;
		margin: 0 0 0 0.75em;
		padding: 0 0 0 0.75em;
	}

		#footer .copyright li:first-child {
			border-left: 0;
			margin-left: 0;
			padding-left: 0;
		}

	#footer .copyright a {
		color: inherit;
	}

#footer:hover {
	opacity: 1;
}

#footer > :last-child {
	margin-bottom: 0;
}

#languages {
	display: flex;
	flex-direction: column-reverse;
	position: absolute;
	bottom: 2.4em;
}

@media screen and (max-width: 1680px) {
	#footer {
		bottom: 3.5em;
		left: 5em;
	}
}

@media screen and (max-width: 736px) {
	#footer {
		bottom: 2em;
		left: 2em;
	}
}

@media screen and (max-width: 360px) {
	#footer {
		bottom: 1.25em;
		left: 1.25em;
	}
}

@media screen and (max-height: 640px) {
	#footer {
		bottom: auto;
		left: auto;
		margin: 1em 0 0 0;
		position: relative;
	}
}
