@import "../../PontheStyle.scss";

.bg {
  position: fixed !important;
  top: 0;
  left: 0;
  min-height: 100vh;
  min-width: 120vw;
  background-position: center center !important;
  z-index: 1 !important;
  opacity: 0;
}

#background-auth {
  background: #000;
  width: 100vw;
  height: 100vh;
}

@each $image in $AUTH-BG-SLIDER-IMAGES {
  $ind: index($AUTH-BG-SLIDER-IMAGES, $image);
  #bg#{$ind} {
    background: $image;
    box-shadow: inset 0px 0px 350px 120px #000;
  }
}

@media screen and (max-width: 750px) {
}

//https://animista.net/play/background/bg-pan
//https://storybook.js.org/docs/guides/guide-angular/
//https://www.learnstorybook.com/intro-to-storybook/react/en/simple-component/
//https://www.ableton.com/en/trial/
//https://www.youtube.com/watch?v=0ALKGR0I5MA