	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<h1>Bienvenue sur les Galeries Ponthé</h1>
				<p>Connecte-toi à l'aide de tes identifiants DSI (comme sur uPont).</p>
			</header>

		<!-- Signup Form -->
			<form id="signup-form">
				<input type="email" name="email" id="email" placeholder="Identifiant" />
				<input type="password" name="password" id="email" placeholder="Mot de passe" />
				<input type="submit" value="Entrer dans les Galeries" (click) = "onSignIn()"/>
			</form>

			<p>Mot de passe oublié ? <a routerLink = '/home' (click) = "onSignIn()">Clique ici</a> pour le réinitialiser.<br/>
			Tu n'as pas de compte ? <a routerLink = '/new-account'>Clique ici</a> pour t'enregistrer.</p>

			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="https://www.facebook.com/club.ponthe" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="https://upont.enpc.fr/assos/ponthe" class="icon fa-instagram"><span class="label">uPont</span></a></li>
						<li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
						<li><a href="mailto : ponthe@liste.enpc.fr" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Ponthé - Club audiovisuel des Ponts et Chaussées</li>
					</ul>
				</footer>


		<!-- Scripts -->

			<script src="/src/assets/assets_c/js/main.js"></script>

	</body>
