@import url("../../../assets/assets_h/css/main.css");

li {
  display: inline-block;
  margin-left: 0.5em;
  font-size: 0.9em;
}

li a {
  display: block;
  color: inherit;
  text-decoration: none;
  height: 3em;
  line-height: 3em;
  padding: 0 0.5em 0 0.5em;
  outline: 0;
}

.svg_links {
  height: 1.75em;
  margin-left: 3vw;
}

@media screen and (max-width: 1680px) {
	li {
		margin-left: 0;
		font-size: 0.875em;
	}
}

@media screen and (max-width: 800px) {
	li {
		font-size: 0.7em;
	}
}

@media screen and (max-width: 736px) {
  li a {
    padding: 0;
    line-height: 1.5em;
    height: 1.5em;
  }
}
