<div class="spacer"></div>

<!-- Moderation buttons -->
<app-galeries-moderation-buttons
  *ngIf="httpService.isAdmin"
  [selectedRoute]="videoService.selectedMovie"
  [moderationState]="moderationState"
></app-galeries-moderation-buttons>

<!-- Main -->
<!-- Film -->
<div id="main">
  <video
    id="my-video"
    class="video-js vjs-default-skin"
    controls
    preload="auto"
    width="640"
    height="264"
    [poster]="videoService.coverImageUrl"
    data-setup="{}"
  >
    <source [src]="videoService.videoUrl" type="video/mp4" />
  </video>
</div>

<!-- Header and Footer, revealed when clicking on "A propos de l'album" -->
<app-galeries-footer
  [nameEvent]="videoService.movieDetails.name"
  [resumeEvent]="videoService.movieDetails.description"
></app-galeries-footer>

<app-loading-spinner
  *ngIf="displaySpinner"
  [@spinnerTrigger]="stateSpinner"
></app-loading-spinner>
