@import url("../../../assets/assets_g/css/main.css");
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');

.spacer {
  margin-top: 4em;
}

html, body {
		background: #242629;
}

#deleteButton {
  z-index: 5000;
  position: absolute;
  top: 1vh;
  left: 0.5vw;
  background: rgba(0,0,0,0.3);
}

#deleteButtonSelected {
  z-index: 5000;
  position: absolute;
  top: 1vh;
  left: 0.5vw;
  background: rgba(255,0,0,0.7);
}

#addFiles, .publicprivate {
  background: linear-gradient(15deg, red, #fc3 70%);
}

#modere {
  background: linear-gradient(-165deg, red, #fc3 70%);
}

#deleteevent {
  background: linear-gradient(35deg, red, #f99 90%);
}

#deletepics {
  background: linear-gradient(35deg, #f99, red 90%);
}

#main {
  height: calc(100vh - 7em);
  width: 100vw;
}

#main h2 {
  width: 100vw;
  text-align: center;
  height: 10%;
  margin-top: 2.5vh;
  text-transform: none;
  font-weight: bold;
  letter-spacing: normal;
  font-family: "Lobster", sans-serif;
  font-size: 3.5em;
  text-shadow: 0 0 0.5em black;
}

video {
  max-width: 70vw;
  margin: 0 auto;
  top: 25vh;
  max-height: 62.5vh;
}

.triangle_top_left, .triangle_bottom_left, .triangle_bottom_right, .triangle_bottom_right_wider {
  width: 0;
  height: 0;
  border-style: solid;
  position: fixed;
}

.triangle_top_left {
  border-width: 22vh 40vw 0 0;
  border-color: #ffffff transparent transparent transparent;
  z-index: 1;
}

.triangle_bottom_right {
  border-width: 0 0 37vh 12.5vw;
  border-color: transparent transparent #ffffff transparent;
  right: 0;
  bottom: 3em;
  z-index: 1;
}

.triangle_bottom_right_wider {
  border-width: 0 0 70vh 12.5vw;
  border-color: transparent transparent #ffcd33 transparent;
  right: 0;
  bottom: 3em;
}

.triangle_bottom_left {
  border-width: 0 15vw 75vh 0;
  border-color: transparent transparent #ffcd33 transparent;
  left: 0;
  bottom: 3em;
}
