@import url("../../../assets/assets_h/css/main.css");
@import "../../PontheStyle.scss";

/* Intro */
#intro {
	margin-top: 3em;
	height : calc(100vh - 3em);
	background: $INTRO-IMAGE;
	background-size: 256px 256px, cover;
	background-attachment: fixed, fixed;
	background-position: top left, bottom center;
	background-repeat: repeat, no-repeat;

	@include sm {
		margin-top: 4em;
	}
}

/* Background pictures of proms */
@mixin shared-background-props($pic) {
	background: $OVERLAY-IMAGE, $pic;
	background-size: 256px 256px, cover;
	background-attachment: fixed, fixed;
	background-position: top left, center center;
}
@each $promo, $image in $PONTHE-PROMO-IMAGES-LARGE {
	$image-small: map-get($PONTHE-PROMO-IMAGES-SMALL, $promo);
	#p0#{$promo} {
		height: 100vh;
		@include shared-background-props ($image);

		@include sm {
			@include shared-background-props($image-small);
		}
	}
}

.style2 .content {
  opacity: 0.95;
}


@media screen and (max-width: 1920px) {
  .style2 .content {
    width: 30% !important;
  }
}

@media screen and (max-width: 1280px) {
  .style2 .content {
    width: 35% !important;
    padding: 3.5em 1em 3.5em 2em;
  }

  .style2 .content p {
    margin-bottom: 0.6em;
  }
}

@media screen and (max-width: 1000px) {
  .style2 .content {
    width: 40% !important;
  }

  .style2 .content p {
    line-height: 1.5em;
  }
}

.style2 .content {
	@include sm {
		width: 100% !important;
	}
  }
  
  .style2 .content p {
	  @include sm {
		  line-height: 1.35em;
		  font-size: 18px;
	  }
  }
  
  .main.style1 {
	  @include sm {
		  padding: 0.6em 15px 0.6em 15px;
	  }
  }
  