<!-- Intro -->
<section id="intro" class="main style1 dark fullscreen"
         (mouseenter)='survoleIntro("visible")'
         (mouseleave)='survoleIntro("hidden")'>
  <div class="content" [@introTrigger]="introState">
    <header>
      <h2>{{ 'members.header.title' | translate }}</h2>
    </header>
    <p>{{ 'members.header.subtitle' | translate }}</p>
    <footer>
      <a class="button style2 down" (click)="onClickNext(fragmentIntro)">More</a>
    </footer>
  </div>
</section>

<!-- Teams per year -->
<section *ngFor = "let team of teamPonthe; let i = index"
          id="{{ team.year_id }}"
          class="main style2 {{ placement(i) }} dark fullscreen"
          (mouseenter)='survoleTeam("visible", i)'
          (mouseleave)='survoleTeam("hidden", i)'>
  <!-- Information box -->
  <div class="content box style2" [@teamTrigger]="currentStateTeam(i)">
    <header>
      <h2>Ponthé {{ team.year }}</h2>
    </header>
    <p *ngFor="let poste of team.members">{{ poste }}</p>
  </div>
  <a class="button style2 down anchored" (click)="onClickNext(team.prev_year_id)">Next</a>
</section>
