@import url("../../assets/assets_h/css/main.css");

/* One */

	#one {
    height : 85vh;
		background: url("../../assets/assets_h/css/images/overlay.png"), url("../../assets/images/wei.jpg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, center center;
	}

/* Two */

	#two {
    height : 85vh;
		background: url("../../assets/assets_h/css/images/overlay.png"), url("../../assets/images/supponts.jpg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, center center;
	}

/* Three */

	#three {
    height : 85vh;
		background: url("../../assets/assets_h/css/images/overlay.png"), url("../../assets/images/voyage1.jpg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, center center;
	}
