@import url("../../../assets/assets_c/css/main.css");
@import "../../PontheStyle.scss";

p, q {
  // line-height: 1.5em;
  margin-bottom: 16px;
}
body {
  margin-top: -5em;
}

form {
  display: grid !important;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 24px;
  width: 70vw;
}

input {
  width: 100% !important;
}

#auth-card input[type="text"], #auth-card input[type="password"] {
  width: 240px;
}

.signup-form {
  margin: 0;
}
.signup-form > * {
  margin: 0;
}

#firstName {
  grid-column: 1;
  grid-row: 1;
}
#lastName {
  grid-column: 2;
  grid-row: 1;
}
#email {
  grid-column: 3;
  grid-row: 1;
}
#email input {
  width: calc(70vw / 4 - 200px) !important;
}
#promotion {
  grid-column: 4;
  grid-row: 1;
}
#password {
  grid-column: 1;
  grid-row: 2;
}
#confirmPassword {
  grid-column: 2;
  grid-row: 2;
}
#submit {
  grid-column: 4;
  grid-row: 2;
}

#email input[type="text"] {
  display: inline-block;
  margin-right: 16px;
}
#email p {
  margin: 0;
  display: inline-block;
  width: $AUTH-EMAIL-WIDTH;
  font-size: 1em !important;
}

a {
  color: $PONTHE-YELLOW !important;
}

.bg {
  z-index: 1 !important;
}

@media screen and (max-width: 736px) {
  body {
    margin-top: -2em;
  }
  form {
		grid-gap: 16px;
	}
  .signup-form {
    display: flex !important;
  }

  #email p {
    font-size: 0.75em;
  }
}
