@import url("../../../assets/assets_c/css/main.css");
@import "../../PontheStyle.scss";

body {
  margin-top: -9em;
}

form {
  display: grid !important;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 24px;
  box-shadow: $BOX-SHADOW-INPUT-BASE $BOX-SHADOW-INPUT-SHIFT-FOCUS;
  background: $OVERLAY-MEDIUM-GREY;
  padding: 24px;
  border-radius: 20px;
}

input, select {
  box-shadow: $BOX-SHADOW-INPUT-BASE $BOX-SHADOW-INPUT-SHIFT-NONE;
}
input:focus, select:focus {
  box-shadow: $BOX-SHADOW-INPUT-BASE-LIGHT $BOX-SHADOW-INPUT-SHIFT-FOCUS;
}
input {
  width: 100% !important;
}

.signup-form {
  margin: 0;
}
.signup-form > * {
  margin: 0;
}


#firstName {
  grid-column: 1;
  grid-row: 1;
}
#lastName {
  grid-column: 2;
  grid-row: 1;
}
#promotion {
  grid-column: 3;
  grid-row: 1;
}
#email {
  grid-column: 1;
  grid-row: 2;
}
#password {
  grid-column: 2;
  grid-row: 2;
}
#confirmPassword {
  grid-column: 3;
  grid-row: 2;
}
#submit {
	background: linear-gradient(35deg, red, #fc3 65%);
  grid-column: 3;
  grid-row: 3;
}

p {
  margin-top: 23px;
}
#email input[type="text"] {
  width: calc(100% - #{$AUTH-EMAIL-WIDTH} - 16px - 4em) !important;
  display: inline-block;
  margin-right: 16px;
}
#email p {
  margin: 0;
  display: inline-block;
  width: $AUTH-EMAIL-WIDTH;
}

select {
  display: inline-block;
  width: 60%;
}
q {
  display: inline-block;
  width: 40%;
}

#redirections {
  margin: 0;
  margin-top: 10px;
}

#bg {
  width: 120%;
  background-position: center center;
}

@media screen and (max-width: 736px) {
  body {
    margin-top: -2em;
  }
  form {
		grid-gap: 16px;
	}
  .signup-form {
    display: flex !important;
  }

  #email p {
    font-size: 0.75em;
  }
}
