<body class="is-preload">

  <!-- Header -->
  <header id="header">
    <h1>{{ phrases['newAccount.header.title'] }}</h1>
    <p [innerHTML]="phrases['newAccount.header.subtitle']"></p>
    <p>{{ phrases['newAccount.cgu.first'] }} <a [routerLink]="routes.cgu">{{ phrases['newAccount.cgu.cgu'] }}</a> {{ phrases['newAccount.cgu.second'] }} <a [routerLink]="routes.cgu">{{ phrases['newAccount.cgu.here'] }}</a>.</p>
  </header>

  <!-- Signup Form -->
  <form class="signup-form" [formGroup]="userForm" (ngSubmit)="onSubmitForm()">
    <input id="firstName" type="text" name="firstname" [placeholder]="phrases['newAccount.form.firstName']" formControlName="firstname"/>
    <input id="lastName" type="text" name="lastname" [placeholder]="phrases['newAccount.form.familyName']" formControlName="lastname"/>
    <div id="promotion">
      <q>{{ phrases['newAccount.form.promotion'] }}</q>
      <select class="form1" name="promotion" formControlName="promotion">
        <option *ngFor="let prom of availablePromotions" value="prom">{{ prom }}</option>
      </select>
    </div>
    <div id="email">
      <input type="text" name="email" [placeholder]="phrases['newAccount.form.email']" formControlName="email"/>
      <p>{{ phrases['newAccount.form.email.extension'] }}</p>
    </div>
    <input id="password" type="password" name="password" [placeholder]="phrases['newAccount.form.password']" formControlName="password"/>
    <input id="confirmPassword" type="password" name="confirmationPassword" [placeholder]="phrases['newAccount.form.passwordConfirmation']" formControlName="confirmationPassword"/>
    <input id="submit" class="submit" type="submit" [value]="phrases['newAccount.form.submitButton']" [disabled]="userForm.invalid"/>
  </form>

  <!-- Useful links -->
  <p id="redirections">
    <a [routerLink]='routes.auth'>{{ phrases['auth.backToAuth'] }}</a>.<br/>
    {{ phrases['auth.forgottenPassword.question'] }} <a [routerLink]='routes.reset'>{{ phrases['auth.clickHere'] }}</a> {{ phrases['auth.forgottenPassword.reinitialize'] }}
  </p>

  <!-- Footer -->
  <app-auth-footer></app-auth-footer>
  <!-- Background animation -->
  <!-- Black background -->
  <div id="background-auth" style="background: #000000"></div>

  <!-- Image translations -->
  <div id="bg" [@backgroundAnimation]="state" (@backgroundAnimation.done)="changeFond()"></div>

</body>
