@import "~/app/PontheStyle.scss";

TextField {
    width: 100%;
    margin: units(8) 0;
    color: color(DARK_DARK_GREY);
}

Button {
    border-radius: units(6);
    background: color(GRADIENT_RED_YELLOW);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
}
