<!-- Header -->
  <header id="header" *ngIf = "isOnline()">
    <!-- Logo -->
    <a routerLink = '/home'><img src="assets/images/logo-ponthe.svg" alt="Le Ponthé" id="logo" /></a>
    <!-- Title -->
    <h1 *ngIf="isWideEnough()"><a routerLink = '/home'>Le Ponthé - Club audiovisuel des Ponts</a></h1>
    <h1 *ngIf="!isWideEnough()"><a routerLink = '/home'>Le Ponthé</a></h1>

    <!-- Navigation on the website -->
    <nav>
      <ul>
        <li><a routerLink = '/galeries'>Galeries</a></li>
        <li><a routerLink = '/dashboard' *ngIf = "isAdmin()">Tableau de bord</a></li>
        <li><a routerLink = '/members'>Membres</a></li>
        <li><a routerLink = '/material'>Matériel</a></li>
        <li><a routerLink = '/auth' (click) = "onSignOut()">Déconnexion</a></li>
      </ul>
    </nav>
  </header>
