<!-- Header -->
  <header id="header">
    <!-- Essayer de rajouter *ngIf = "authStatus"-->
    <!-- A RECTIFIER --><!--img src="images/logo.png" alt="Le Ponthé" id="logo" /-->
            <h1><a routerLink = 'home'>Le Ponthé - Club audiovisuel des Ponts</a></h1>

    <nav>
      <ul>
        <li><a routerLink = 'galeries'>Galeries</a></li>
        <li><a href="board.html">Tableau de bord</a></li>
        <li><a routerLink = 'members'>Membres</a></li>
        <li><a routerLink = 'material'>Matériel</a></li>
        <li><a routerLink = 'auth' (click) = "onSignOut()">Déconnexion</a></li>
      </ul>
    </nav>
  </header>
