@import url("../../assets/assets_h/css/main.css");

.svg_links {
  height: 1.75em;
  margin-left: 3vw;
}

@media screen and (max-width: 736px) {
  #header nav {
    margin-top: 7.5%;
  }

  #header nav ul li a {
    padding: 0;
    line-height: 1.5em;
    height: 1.5em;
  }
}
