<!-- Header -->
<div *ngIf="isOnline()">
  <header id="header">
    <!-- Logo -->
    <a [routerLink]='routes.home' [attr.aria-label]="'nav.title.short' | translate" (click)="closeBurger()"><img [src]="pathLogo" [alt]="'nav.title.short' | translate" id="logo" /></a>
    <!-- Title -->
    <h1 *ngIf="isWideEnough()"><a [routerLink]='routes.home' [attr.aria-label]="'nav.title.long' | translate">{{ 'nav.title.long' | translate }}</a></h1>
    <h1 *ngIf="!isWideEnough()"><a [routerLink]='routes.home' [attr.aria-label]="'nav.title.short' | translate" (click)="closeBurger()">{{ 'nav.title.short' | translate }}</a></h1>

    <!-- Navigation on the website -->
    <nav *ngIf="!breakpointsService.isMobile">
      <ul>
        <app-nav-link [route]="routes.galeries" [name]="'nav.galeries' | translate" [imgSrc]="svgGaleries"></app-nav-link>
        <app-nav-link [route]="routes.crush" [name]="'nav.crush' | translate" [imgSrc]="svgGaleries"></app-nav-link>
        <app-nav-link *ngIf="isAdmin()" [route]="routes.dashboard" [name]="'nav.dashboard' | translate" [imgSrc]="svgDashboard"></app-nav-link>
        <app-nav-link [route]="routes.members" [name]="'nav.members' | translate" [imgSrc]="svgMembers"></app-nav-link>
        <app-nav-link [route]="routes.material" [name]="'nav.matos' | translate" [imgSrc]="svgMatos"></app-nav-link>
        <app-nav-link (click)="onSignOut()" [route]="routes.auth" [name]="'nav.logout' | translate" [imgSrc]="svgLogout"></app-nav-link>
      </ul>
    </nav>
  </header>

  <button
    *ngIf="breakpointsService.isMobile"
    [class]="isHamburgerActive ? 'hamburger hamburger--spin is-active' : 'hamburger hamburger--spin'"
    id="burger_menu"
    type="button"
    (click)="activateHamburger()"
    aria-label="Burger menu"
  >
    <span class="hamburger-box">
      <span class="hamburger-inner"></span>
    </span>
  </button>

  <header *ngIf="breakpointsService.isMobile" id="header-mobile" [class]="isHamburgerActive ? 'visible_menu' : ''">
    <div id="mobile_menu">
      <ul>
        <app-nav-link [route]="routes.pics" [name]="'nav.pics' | translate" [imgSrc]="svgPics" (click)="closeBurger()"></app-nav-link>
        <app-nav-link [route]="routes.videos" [name]="'nav.movies' | translate" [imgSrc]="svgMovies" (click)="closeBurger()"></app-nav-link>
        <app-nav-link [route]="routes.crush" [name]="'nav.crush' | translate" [imgSrc]="svgCrush" (click)="closeBurger()"></app-nav-link>
        <app-nav-link *ngIf="isAdmin()" [route]="routes.dashboard" [name]="'nav.dashboard' | translate" (click)="closeBurger()" [imgSrc]="svgDashboard"></app-nav-link>
        <app-nav-link [route]="routes.members" [name]="'nav.members' | translate" [imgSrc]="svgMembers" (click)="closeBurger()"></app-nav-link>
        <app-nav-link [route]="routes.material" [name]="'nav.matos' | translate" [imgSrc]="svgMatos" (click)="closeBurger()"></app-nav-link>
        <app-nav-link (click)="onSignOut()" [route]="routes.auth" [name]="'nav.logout' | translate" [imgSrc]="svgLogout" (click)="closeBurger()"></app-nav-link>
      </ul>
    </div>
  </header>
</div>

<app-auth-nav *ngIf="!isOnline()"></app-auth-nav>