<body class="is-preload">
  <app-auth-card [title]="'reset.header.title' | translate">
    <p [innerHTML]="'reset.header.subtitle' | translate" id="inner-text"></p>

    <!-- Signup Form -->
    <form class="signup-form" [formGroup]="resetForm" (ngSubmit)="onSubmitForm()">
      <div id="email">
        <input type="text" name="email" [placeholder]="'reset.form.email.placeholder' | translate" formControlName="email"/><p>{{ 'reset.form.email.extension' | translate }}</p>
      </div>
      <input id="submit" type="submit" [value]="'reset.form.submitButton' | translate" [disabled]="resetForm.invalid"/>
    </form>
  </app-auth-card>

  <!-- Footer -->
  <app-auth-footer></app-auth-footer>

  <!-- Background animation -->
  <app-auth-bg-slider class="bg"></app-auth-bg-slider>
</body>
