@import url("../../../assets/assets_c/css/main.css");
@import "../../PontheStyle.scss";

form {
	margin: 0;
}

.signup-form {
  margin: 0;
}
.signup-form > * {
  margin: 0;
}

#email input[type="text"] {
  display: inline-block;
  margin-right: 16px;
}
#email p {
  margin: 0;
  display: inline-block;
}

#submit {
	margin-left: 64px;
}

.bg {
  z-index: 1 !important;
}

@media screen and (max-width: map-get($breakpoints, small)) {
	#email p {
		font-size: 16px !important;
	}
	input[type="text"] {
		width: 50% !important;
	}
}

@media screen and (max-width: 750px) {
	form {
		grid-gap: 16px;
	}
	#header, #header p, .signup-form {
			margin: 0 0 0.5em 0;
	}
	.signup-form {
		display: flex !important;
	}
	#email p {
		font-size: 0.75em;
	}
}