<!-- Contact form -->
<div>
  <section>
    <h2 [innerHTML]="'galeries.contactForm.title' | translate"></h2>
    <form
      method="post"
      [formGroup]="messageForm"
      (ngSubmit)="onSubmitMessage()"
    >
      <div class="fields">
        <div class="field">
          <textarea
            name="message"
            id="message"
            rows="4"
            [placeholder]="'galeries.contactForm.placeholder' | translate"
            formControlName="message"
          ></textarea>
        </div>
      </div>
      <ul class="actions">
        <li>
          <input
            id="submit"
            type="submit"
            [value]="'galeries.contactForm.submit' | translate"
            class="primary"
          />
        </li>
        <li>
          <input
            id="reset"
            type="reset"
            [value]="'galeries.contactForm.reset' | translate"
          />
        </li>
      </ul>
    </form>
  </section>
</div>

<app-alert
	[title]="'messages.sent' | translate"
	[visible]="alertVisible"
	(close)="closeAlert()"
	></app-alert>