@import url("../../assets/assets_h/css/main.css");

section, #cgu-title {
  margin: 3.5em;
}

#cgu-title {
  margin-top: 3em;
  margin-bottom: 2.5em;
  text-align: center;
  color: #fc3;
  text-decoration: underline;
}
