@import "~/app/PontheStyle.scss";

$LABEL_WIDTH: 70%;
.galleryName {
    @include font-size(XXLARGE);
    font-family: 'Roboto', 'Roboto-Regular';
    font-weight: 600;
    text-shadow: 0 0 5 #000;
    letter-spacing: 0.025px;
    color: color(WHITE);
    width: $LABEL_WIDTH;
    margin-left: calc((100% - #{$LABEL_WIDTH}) / 2);
    text-align: center;
    top: 120%;
}

Image {
    width: 100%;
}

.noGallery {
    font-weight: 600;
    font-family: 'Roboto', 'Roboto-Regular';
    letter-spacing: 0.025px;
    width: 90%;
    margin: units(5) 5%;
}
