@import "~/app/PontheStyle.scss";

.lovePics {
    background: color(HOME_GREY);
}

.lovePicsTitle {
    color: color(DARK_DARK_GREY);
    width: 100%;
    text-align: center;
    margin-top: units(8);
    margin-bottom: units(4);
    @include font-size(XLARGE);
    font-weight: 900;
    background: transparent;
}

.allPics {
    margin-left: units(5);
}

.lovePicImage {
    width: 45%;
    border-radius: units(10);
    margin: units(2);
}