@import url("../../../../assets/assets_h/css/main.css");
@import "../../../PontheStyle.scss";

$ARTICLE-BOX-RADIUS: units(2.5);
$GALLERY-PICS-MARGIN: units(1);

h2:hover {
	cursor: pointer;
}

/* 3 Last events */
#loading-events {
	padding-top: units(3);
	padding-bottom: units(3);
	background: color(HOME_GREY);
}

/* Love pics */
	#gallery-pics > #visible {
		opacity: 1;
	}
	#gallery-pics > #hidden-left {
		opacity: 0;
		transform: translateX(-14em);
	}
	#gallery-pics > #hidden-right {
		opacity: 0;
		transform: translateX(14em);
	}

.right > .box {
	right: -20px;
}

.left > .box {
	left: -20px;
}

.content .box .style2 {
	width: 34%;
}


#gallery-pics > article {
	display: flex;
	margin: $GALLERY-PICS-MARGIN;
	max-width: calc(50% - 2 * #{$GALLERY-PICS-MARGIN});
}

#gallery-pics > article > img {
	cursor: pointer;
	border-radius: $IMAGE-RADIUS-MEDIUM-THUMBNAIL;

	@include lg {
		border-radius: units(3.5);
	}
}

.gallery {
	@include sm {
		flex-direction: unset;
		flex-wrap: wrap;
	}
}

.darkbg {
	@include fullscreen;
	background-color: overlay(HOME);
}

.main.style1 {
	@include sm {
		padding: 0.6em 15px 0.6em 15px;
	}
}
