<!DOCTYPE HTML>

<html>
	<head>
		<title>Galeries Ponthé</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link href="assets/assets_h/css/main.css" rel="stylesheet" type="text/css"/>

		<noscript><link rel="stylesheet" href="assets/assets_h/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

    <app-nav *ngIf="!authStatus"></app-nav>




    <router-outlet></router-outlet>




		<app-footer></app-footer>

		<!-- Scripts -->
			<script src="/src/assets/assets_h/js/jquery.min.js"></script>
			<script src="/src/assets/assets_h/js/jquery.poptrox.min.js"></script>
			<script src="/src/assets/assets_h/js/jquery.scrolly.min.js"></script>
			<script src="/src/assets/assets_h/js/jquery.scrollex.min.js"></script>
			<script src="/src/assets/assets_h/js/browser.min.js"></script>
			<script src="/src/assets/assets_h/js/breakpoints.min.js"></script>
			<script src="/src/assets/assets_h/js/util.js"></script>
			<script src="/src/assets/assets_h/js/main.js"></script>

	</body>
</html>
