<!DOCTYPE HTML>

<html>
	<head>
		<title>Galeries Ponthé</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

		<! A VOIR -->    <link rel="icon" type="image/x-icon" href="images/logo.ico"/>
		<noscript><link rel="stylesheet" href="assets/assets_h/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

    <app-nav *ngIf="!authStatus"></app-nav>




    <router-outlet></router-outlet>




		<!-- Footer -->
			<footer id="footer">

				<!-- Icons -->
					<ul class="icons">
						<li><a href="https://www.facebook.com/club.ponthe" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="https://upont.enpc.fr/assos/ponthe" class="icon fa-instagram"><span class="label">uPont</span></a></li>
						<li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
					</ul>

				<!-- Menu -->
					<ul class="menu">
						<li>&copy; Ponthé 020 - Club audiovisuel de l'Ecole des Ponts</li>
					</ul>

			</footer>

		<!-- Scripts -->
			<script src="assets/assets_h/js/jquery.min.js"></script>
			<script src="assets/assets_h/js/jquery.poptrox.min.js"></script>
			<script src="assets/assets_h/js/jquery.scrolly.min.js"></script>
			<script src="assets/assets_h/js/jquery.scrollex.min.js"></script>
			<script src="assets/assets_h/js/browser.min.js"></script>
			<script src="assets/assets_h/js/breakpoints.min.js"></script>
			<script src="assets/assets_h/js/util.js"></script>
			<script src="assets/assets_h/js/main.js"></script>

	</body>
</html>
