@import "Constants.scss";

/* LANGUAGES SUPPORTED */
$NUMBER-OF-LANGUAGES: 3;

/* TEXT */
$AUTH-TEXT-SHADOW-LIGHT: color(DARK) 0px 0px 6px;
$AUTH-TEXT-SHADOW: color(DARK) 0px 0px 10px;
$AUTH-EMAIL-WIDTH: 7.5em;
$INPUT-TEXT-DARK-GREY: color(DARK);

/* BUTTON */
$BUTTON-BACKGROUND-GRADIENT: linear-gradient(30deg, red, yellow);
$BUTTON-BACKGROUND-GRADIENT-YELLOWER: linear-gradient(35deg, red, color(YELLOW) 65%);
$BUTTON-BACKGROUND-DANGER: rgba(255,0,0,0.7);
$BUTTON-BACKGROUND-NONE: rgba(0,0,0,0.3);
$BUTTON-BACKGROUND-ACCEPT: rgb(0,180,0);
$BUTTON-BACKGROUND-ACCEPT-SELECTED: rgba(0,255,0,0.5);
$BUTTON-BACKGROUND-REFUSE: rgb(210,0,0);
$BUTTON-BACKGROUND-REFUSE-SELECTED: rgba(255,0,0,0.5);
$BUTTON-MODERATION-ADDFILES: linear-gradient(15deg, red, color(YELLOW) 70%);
$BUTTON-MODERATION-MODERE: linear-gradient(-165deg, red, color(YELLOW) 70%);
$BUTTON-MODERATION-DELETEEVENT: linear-gradient(35deg, red, #f99 90%);
$BUTTON-MODERATION-DELETEPICS: linear-gradient(35deg, #f99, red 90%);

/* FORMS */
// INPUT
//$DASHBOARD-FORM-BACKGROUND: linear-gradient(30deg, rgba(255,0,0,0.75), rgba(255,255,0,0.95)); // OLD VERSION
$DASHBOARD-FORM-BACKGROUND: color(WHITE);
$BOX-SHADOW-INPUT-BASE: color(DARK) 0px 0px;
$BOX-SHADOW-INPUT-BASE-LIGHT: color(WHITE) 0px 0px;
$BOX-SHADOW-INPUT-SHIFT-NONE: 2px;
$BOX-SHADOW-INPUT-SHIFT-FOCUS-LIGHT: 4px;
$BOX-SHADOW-INPUT-SHIFT-FOCUS: 10px;
$BORDER-RADIUS-BUTTON: 8px;

// FORM
$BOX-SHADOW-FORM-BASE: color(LIGHT_GREY) 0px 0px;
$BOX-SHADOW-FORM-SHIFT-BASE: units(2);
$FORM-BORDER-RADIUS: units(2.5) units(2.5) 0 0;
$DASHBOARD-FORM-BOX-SHADOW: color(DARK) 0px 0px;
$DASHBOARD-FORM-BOX-SHADOW-SHIFT-BASE: units(1);
$DASHBOARD-FORM-BORDER-RADIUS: 0em 1.5em 1.5em 1.5em;

/* IMAGES */
$IMAGE-RADIUS-MEDIUM-THUMBNAIL: units(2);

/* AUTH */
$BOX-SHADOW-CARD: $BOX-SHADOW-INPUT-BASE units(8);

/* IMAGE VIEWER */
$BOX-SHADOW-INNER-LARGE: inset 0 0 units(25) 25px #000;