@import "breakpoints.scss";
@import "constants/Images.scss";

/* LANGUAGES SUPPORTED */
$NUMBER-OF-LANGUAGES: 3;

/* COLORS */
$PONTHE-YELLOW: #fc3;
$PONTHE-WHITE: #fff;
$PONTHE-LIGHT-GREY: #ddd;
$PONTHE-DARK: #222;
$PONTHE-DARK-GREY: #242628;
$PONTHE-DARK-DARK-GREY: #39454b;
$PONTHE-GRADIENT-RED-YELLOW: linear-gradient(30deg, red, yellow);

$OVERLAY-LIGHT-GREY: rgba(0,0,0,0.3);
$OVERLAY-MEDIUM-GREY: rgba(0,0,0,0.5);
$OVERLAY-DARK-GREY: rgba(0,0,0,0.85);

/* TEXT */
$AUTH-TEXT-SHADOW-LIGHT: $PONTHE-DARK 0px 0px 6px;
$AUTH-TEXT-SHADOW: $PONTHE-DARK 0px 0px 10px;
$AUTH-EMAIL-WIDTH: 7.5em;
$INPUT-TEXT-DARK-GREY: $PONTHE-DARK;

/* BUTTON */
$BUTTON-BACKGROUND-GRADIENT: linear-gradient(30deg, red, yellow);
$BUTTON-BACKGROUND-GRADIENT-YELLOWER: linear-gradient(35deg, red, $PONTHE-YELLOW 65%);
$BUTTON-BACKGROUND-DANGER: rgba(255,0,0,0.7);
$BUTTON-BACKGROUND-NONE: rgba(0,0,0,0.3);
$BUTTON-BACKGROUND-ACCEPT: rgb(0,180,0);
$BUTTON-BACKGROUND-ACCEPT-SELECTED: rgba(0,255,0,0.5);
$BUTTON-BACKGROUND-REFUSE: rgb(210,0,0);
$BUTTON-BACKGROUND-REFUSE-SELECTED: rgba(255,0,0,0.5);
$BUTTON-MODERATION-ADDFILES: linear-gradient(15deg, red, $PONTHE-YELLOW 70%);
$BUTTON-MODERATION-MODERE: linear-gradient(-165deg, red, $PONTHE-YELLOW 70%);
$BUTTON-MODERATION-DELETEEVENT: linear-gradient(35deg, red, #f99 90%);
$BUTTON-MODERATION-DELETEPICS: linear-gradient(35deg, #f99, red 90%);

/* FORMS */
// INPUT
//$DASHBOARD-FORM-BACKGROUND: linear-gradient(30deg, rgba(255,0,0,0.75), rgba(255,255,0,0.95)); // OLD VERSION
$DASHBOARD-FORM-BACKGROUND: $PONTHE-WHITE;
$BOX-SHADOW-INPUT-BASE: $PONTHE-DARK 0px 0px;
$BOX-SHADOW-INPUT-BASE-LIGHT: $PONTHE-WHITE 0px 0px;
$BOX-SHADOW-INPUT-SHIFT-NONE: 2px;
$BOX-SHADOW-INPUT-SHIFT-FOCUS-LIGHT: 4px;
$BOX-SHADOW-INPUT-SHIFT-FOCUS: 10px;
$BORDER-RADIUS-BUTTON: 8px;

// FORM
$BOX-SHADOW-FORM-BASE: $PONTHE-LIGHT-GREY 0px 0px;
$BOX-SHADOW-FORM-SHIFT-BASE: 16px;
$FORM-BORDER-RADIUS: 20px 20px 0 0;
$DASHBOARD-FORM-BOX-SHADOW: $PONTHE-DARK 0px 0px;
$DASHBOARD-FORM-BOX-SHADOW-SHIFT-BASE: 8px;
$DASHBOARD-FORM-BORDER-RADIUS: 0em 1.5em 1.5em 1.5em;

/* IMAGES */
$IMAGE-RADIUS-MEDIUM-THUMBNAIL: 16px;

/* IMAGE VIEWER */
$HOME-OVERLAY: rgba(0,0,0,0.25);

/* AUTH */
$BOX-SHADOW-CARD: $BOX-SHADOW-INPUT-BASE 64px;

/* IMAGE VIEWER */
$BOX-SHADOW-INNER-LARGE: inset 0 0 200px 25px #000;
