@import url("../../../assets/assets_h/css/main.css");
@import "../../PontheStyle.scss";

form {
	margin: 0;
}

form:last-child {
	margin-bottom: 2vh;
}

form textarea, form .input_field {
	background: $PONTHE-WHITE;
	color: $INPUT-TEXT-DARK-GREY;
	max-width: 100%;
}

input[type="submit"] {
  background: $BUTTON-BACKGROUND-GRADIENT;
	box-shadow: $BOX-SHADOW-INPUT-BASE $BOX-SHADOW-INPUT-SHIFT-FOCUS-LIGHT;
}
