@import url("../../../../assets/assets_g/css/main.css");
@import "../../../PontheStyle.scss";

#event-panel {
  position: fixed;

  @include sm-landscape {
    height: 3em;
  }
}

.footer-panel {
  transition: transform 0.4s ease, opacity 0.4s ease;
}

#footer-visible {
  opacity: 1;
  transform: translateY(2vh) !important;
}
#footer-hidden {
  opacity: 0;
}

#footer {
  @include sm {
    top: 4em;
    max-height: none;
    height: calc(100vh - 8em);
    padding: 2em;
  }

  @include sm-landscape {
    top: 2.5em;
    height: calc(100vh - 6em);
  }
}
