<div class="spacer"></div>

<div *ngIf="isAdmin" class="moderation">
  <button id="acceptAll" type="button" name="button"
          (click)="acceptAllPics()">
    {{ 'moderation.acceptAll' | translate }}
  </button>
  <button id="refuseAll" type="button" name="button"
          (click)="deleteAllPics()">
    {{ 'moderation.deleteAll' | translate }}
  </button>
  <button id="acceptSelection" type="button" name="button"
          (click)="acceptSelectedPics()">
    {{ 'moderation.acceptAllSelectedPics' | translate }}
  </button>
  <button id="refuseSelection"type="button" name="button"
          (click)="deleteSelectedPics()">
    {{ 'moderation.deleteAllSelectedPics' | translate }}
  </button>
</div>

<!-- Main -->
  <!-- Image viewer -->
<div *ngIf="clicked && isAdmin" id="image-viewer"></div>
  <!-- Pictures of the event -->
  <div *ngIf="isAdmin" id="main"
       (mouseenter)="survolePics('visible')"
       (mouseleave)="survolePics('hidden')">
    <article *ngFor="let picture of pics; let i = index"
             class="thumb"
             [@picsTrigger] = "state(i)">
      <img (click)="onClick(i)" src="{{ picture.base64 }}" alt="" width="100%"/>
      <button *ngIf="!acceptState(i)"
              id="acceptButton" type="button" name="button"
              (click)="acceptPic(i)">
        {{ 'moderation.accept' | translate }}
      </button>
      <button *ngIf="acceptState(i)"
              id="acceptButtonSelected" type="button" name="button"
              (click)="acceptPic(i)">
        {{ 'moderation.accept' | translate }}
      </button>
      <button *ngIf="!deleteState(i)"
              id="deleteButton" type="button" name="button"
              (click)="deletePic(i)">
        {{ 'moderation.delete' | translate }}
      </button>
      <button *ngIf="deleteState(i)"
              id="deleteButtonSelected" type="button" name="button"
              (click)="deletePic(i)">
        {{ 'moderation.delete' | translate }}
      </button>
    </article>
  </div>