@import url("../../assets/assets_g/css/main.css");

.spacer {
  margin-top: 8vh;
}

html, body {
		background: #242629;
}

img {
  width : 100%;
}

#main .thumb > .image {
				-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				border: 0;
				height: 100%;
				left: 0;
				position: absolute;
				top: 0;
				width: 100%;
			}

#image-viewer {
  height : 70vh;
}

#acceptButton, #deleteButton {
  z-index: 5000;
  position: absolute;
  top: 1vh;
  left: 0.5vw;
  background: rgba(0,0,0,0.3);
}

#acceptButtonSelected, #deleteButtonSelected {
  z-index: 5000;
  position: absolute;
  top: 1vh;
  left: 0.5vw;
}

#deleteButton, #deleteButtonSelected {
  left: 14.5vw;
}

#acceptAll, #acceptSelection {
  background: rgb(0,180,0);
}

#acceptButtonSelected {
  background: rgba(0,255,0,0.5);
}

#refuseAll, #refuseSelection {
  background: rgb(210,0,0);
}

#deleteButtonSelected {
  background: rgba(255,0,0,0.5);
}
