<div class="spacer"></div>

<div class="moderation" *ngIf = "isAdmin">
  <button id="acceptAll" type="button" name="button" (click)="acceptAllPics()">Tout accepter</button>
  <button id="refuseAll" type="button" name="button" (click)="deleteAllPics()">Tout supprimer</button>
  <button id="acceptSelection" type="button" name="button" (click)="acceptSelectedPics()">Accepter les photos sélectionnées</button>
  <button id="refuseSelection"type="button" name="button" (click)="deleteSelectedPics()">Supprimer les photos sélectionnées</button>
</div>

<!-- Main -->
  <!-- Image viewer -->
<div id="image-viewer" *ngIf = "clicked && isAdmin">
  <ngx-image-viewer [src] = "raw_pics" [index]= "indexViewer"></ngx-image-viewer>
</div>
  <!-- Pictures of the event -->
  <div id="main" (mouseenter) = "survolePics('visible')" (mouseleave) = "survolePics('hidden')" *ngIf="isAdmin">
    <article class="thumb" *ngFor = "let picture of pics; let i = index" [@picsTrigger] = "state(i)">
      <img (click)="onClick(i)" src="{{ picture.base64 }}" alt="" width="100%"/>
      <button id="acceptButton" type="button" name="button" *ngIf = "!acceptState(i)" (click)="acceptPic(i)">Accepter</button>
      <button id="acceptButtonSelected" type="button" name="button" *ngIf = "acceptState(i)" (click)="acceptPic(i)">Accepter</button>
      <button id="deleteButton" type="button" name="button" *ngIf = "!deleteState(i)" (click)="deletePic(i)">Supprimer</button>
      <button id="deleteButtonSelected" type="button" name="button" *ngIf = "deleteState(i)" (click)="deletePic(i)">Supprimer</button>
    </article>
  </div>
