<!-- Intro -->
<section id="intro" class="main style1 dark fullscreen"
         (mouseenter)='survoleIntro(true)'
         (mouseleave)='survoleIntro(false)'>
  <div class="content"
       [id]="introVisible ? 'intro-hovered' : 'intro-none'">
    <header>
      <h2>{{ 'home.header.title' | translate }}</h2>
    </header>
    <p [innerHTML]="'home.header.introduction' | translate"></p>
    <app-loading-points *ngIf="!homeService.areLastEventsLoaded"></app-loading-points>
    <footer *ngIf="homeService.areLastEventsLoaded">
      <a class="button style2 down" (click)="clickOnNextArrow('one')" aria-label="More">More</a>
    </footer>
  </div>
</section>

<!-- 3 Last Events -->
<div id="loading-events" *ngIf="!homeService.areLastEventsLoaded">
  <app-loading-points></app-loading-points>
</div>
<div *ngIf="homeService.areLastEventsLoaded" id="latest-events">
  <section  *ngFor="let event of homeService.lastEvents; let i = index"
            id="{{ event.event_id }}"
            class="main style2 {{ placement_events(i) }} dark fullscreen"
            (mouseenter)='survoleEvent("visible", i)'
            (mouseleave)='survoleEvent("hidden", i)'
            [ngStyle]="{'background-image' : 'url(' + event.fond + ')', 'background-size': 'cover'}">
    <!-- <img src="../../../assets/assets_h/css/images/overlay.png" style="position: absolute; top:0; left:0; min-width:100vw; min-height: 100vh;"alt=""/> -->
    <div [@lastEventTrigger]="currentStateEvent(i)"
        class="content box style2">
      <header>
        <h2><a [routerLink]="routes.pics + event.routing" [attr.aria-label]="event.name">{{ event.name }}</a></h2>
      </header>
      <p><a [routerLink]="routes.pics + event.routing" [attr.aria-label]="event.resume">{{ event.resume }}</a></p>
    </div>
    <a class="button style2 down anchored" (click)="clickOnNextArrow(event.next_event_id)" aria-label="Next">Next</a>
  </section>
  <h3 *ngIf="homeService.lastEvents.length === 0" id="no-gallery">{{ 'home.noLatestGalleries' | translate }}</h3>
</div>

<!-- Favorite pics -->
<app-love-pics></app-love-pics>

<!-- Contact form-->
<section id="contact" class="main style3 secondary"
         (mouseenter)="survoleForm(true)"
         (mouseleave)="survoleForm(false)">
  <div class="content">
    <header>
      <h2 [innerHTML]="'home.contact.title' | translate"></h2>
      <p [innerHTML]="'home.contact.subtitle' | translate"></p>
    </header>
    <div class="box" [id]="formVisible ? 'home-form-visible' : 'home-form-hidden'">
      <app-home-form></app-home-form>
    </div>
  </div>
</section>