<!-- Intro -->
<section id="intro" class="main style1 dark fullscreen"
         (mouseenter)='survoleIntro(true)'
         (mouseleave)='survoleIntro(false)'>
  <div class="content"
       [id]="introVisible ? 'intro-hovered' : 'intro-none'">
    <header>
      <h2>{{ 'home.header.title' | translate }}</h2>
    </header>
    <p [innerHTML]="'home.header.introduction' | translate"></p>
    <app-loading-points *ngIf="!homeService.areLastEventsLoaded"></app-loading-points>
    <footer *ngIf="homeService.areLastEventsLoaded">
      <a class="button style2 down" (click)="clickOnNextArrow('one')">More</a>
    </footer>
  </div>
</section>

<!-- 3 Last Events -->
<div id="loading-events" *ngIf="!homeService.areLastEventsLoaded">
  <app-loading-points></app-loading-points>
</div>
<div *ngIf="homeService.areLastEventsLoaded">
  <section  *ngFor="let event of lastEvents; let i = index"
            id="{{ event.event_id }}"
            class="main style2 {{ placement_events(i) }} dark fullscreen"
            (mouseenter)='survoleEvent("visible", i)'
            (mouseleave)='survoleEvent("hidden", i)'
            [ngStyle]="{'background-image' : 'url(' + event.fond + ')', 'background-size': 'cover'}">
    <!-- <img src="../../../assets/assets_h/css/images/overlay.png" style="position: absolute; top:0; left:0; min-width:100vw; min-height: 100vh;"alt=""/> -->
    <div [@lastEventTrigger]="currentStateEvent(i)"
        class="content box style2">
      <header>
        <h2><a [routerLink]="routes.pics + event.routing">{{ event.name }}</a></h2>
      </header>
      <p><a [routerLink]="routes.pics + event.routing">{{ event.resume }}</a></p>
    </div>
    <a class="button style2 down anchored" (click)="clickOnNextArrow(event.next_event_id)">Next</a>
  </section>
</div>

<!-- Favorite pics -->
<section id="coeur" class="main style3 primary"
         (mouseenter)='survoleCoeur("visible")'
         (mouseleave)='survoleCoeur("hidden")'>
  <div class="content">
    <header id="header-content">
      <h2 [innerHTML]="'home.favoritePics.title' | translate"></h2>
    </header>
    <!-- Pics  -->
    <div class="gallery" id="gallery-pics">
      <article *ngFor="let pic of lovePics; let i = index"
                class="{{ placementLovePics(i) }}"
                [id]="i%2 === 0 ? lovePicsStateLeft : lovePicsStateRight">
        <img class="image fit" src="{{ pic.address }}" title="{{ pic.title }}" alt="{{ pic.title }}"
             (click)="onClickFavPic(i)"/>
        <!-- <img class="image fit" src="../../assets/assets_h/css/images/overlay.png" style="position: absolute; top:0; left:0; min-width:100vw; min-height: 100vh;" alt="{{ pic.title }}" (click)="onClickFavPic(i)" style="cursor: pointer"/> -->
      </article>
    </div>
  </div>
  <a class="button style2 down anchored" (click)="clickOnNextArrow('contact')">Next</a>
</section>

<!-- Image Viewer -->
<!-- Darken the background -->
<div *ngIf="picClicked" class="darkbg" (click)="closeWidePic()"></div>
<app-image-viewer *ngIf="picClicked"
                  [captionWidePic]="captionWidePic"
                  [indexPicture]="indexPicture"
                  [isGallery]="false"
                  (changeIndexPicture)="onChangeIndexPicture($event)"
                  (closeViewer)="closePic($event)"></app-image-viewer>

<!-- Contact form-->
<section id="contact" class="main style3 secondary"
         (mouseenter)="survoleForm(true)"
         (mouseleave)="survoleForm(false)">
  <div class="content">
    <header>
      <h2 [innerHTML]="'home.contact.title' | translate"></h2>
      <p [innerHTML]="'home.contact.subtitle' | translate"></p>
    </header>
    <div class="box" [id]="formVisible ? 'home-form-visible' : 'home-form-hidden'">
      <app-home-form></app-home-form>
    </div>
  </div>
</section>
