<app-action-bar></app-action-bar>

<ScrollView>
  <StackLayout class="page">
    <AbsoluteLayout
      class="intro"
      [height]="0.9 * screenHeight">
      <Image
        src="~/assets/images/introP.jpg"
        stretch="aspectFill"
        class="introImage"
        [height]="screenHeight"></Image>
      <ShadowedLabel
        [text]="'home.header.title' | translate"
        textWrap="true"
        [top]="0.2 * screenHeight"
        class="homeTitle"
      ></ShadowedLabel>
      <ShadowedLabel
        [text]="formatIntroString('home.header.introduction' | translate)"
        textWrap="true"
        [top]="0.4 * screenHeight"
        class="homeSubtitle"
      ></ShadowedLabel>
      <ActivityIndicator class="introLoader"
        *ngIf="!homeService.areLastEventsLoaded"
        [busy]="!homeService.areLastEventsLoaded"
        [top]="0.65 * screenHeight"
      ></ActivityIndicator>
    </AbsoluteLayout>

    <ActivityIndicator class="eventsLoader"
      *ngIf="!homeService.areLastEventsLoaded"
      [busy]="!homeService.areLastEventsLoaded"
    ></ActivityIndicator>
    <AbsoluteLayout
      *ngFor="let event of homeService.lastEvents; let i = index"
      [nsRouterLink]="homeService.getEventRouting(event)"
      class="lastEvent"
      [height]="0.5 * screenHeight">
      <Image
        class="lastEventPic"
        [src]="event.fond"
        [height]="0.5 * screenHeight"
        stretch="aspectFill"></Image>
      <StackLayout class="lastEventCard">
        <ShadowedLabel class="lastEventTitle" [text]="event.name" textWrap="true"></ShadowedLabel>
        <ShadowedLabel class="lastEventResume" [text]="event.resume" textWrap="true"></ShadowedLabel>
      </StackLayout>
    </AbsoluteLayout>

    <app-love-pics></app-love-pics>

    <StackLayout class="homeFormArea">
      <Label class="formTitle" [text]="'home.contact.title' | translate" textWrap="true"></Label>
      <Label [text]="'home.contact.subtitle' | translate" textWrap="true"></Label>
      <app-home-form></app-home-form>
    </StackLayout>
  </StackLayout>
</ScrollView>

<!--
Original Web template:

<!-- Intro ->
<section id="intro" class="main style1 dark fullscreen"
         (mouseenter)='survoleIntro(true)'
         (mouseleave)='survoleIntro(false)'>
  <div class="content"
       [id]="introVisible ? 'intro-hovered' : 'intro-none'">
    <footer *ngIf="homeService.areLastEventsLoaded">
      <a class="button style2 down" (click)="clickOnNextArrow('one')" aria-label="More">More</a>
    </footer>
  </div>
</section>

<!-- 3 Last Events ->
<div *ngIf="homeService.areLastEventsLoaded" id="latest-events">
  <section  *ngFor="let event of homeService.lastEvents; let i = index"
            (mouseenter)='survoleEvent("visible", i)'
            (mouseleave)='survoleEvent("hidden", i)'
    <a class="button style2 down anchored" (click)="clickOnNextArrow(event.next_event_id)" aria-label="Next">Next</a>
  </section>
  <h3 *ngIf="homeService.lastEvents.length === 0" id="no-gallery">{{ 'home.noLatestGalleries' | translate }}</h3>
</div>

-->