@import url("../../../assets/assets_h/css/main.css");
@import "../../PontheStyle.scss";

$ARTICLE-BOX-RADIUS: units(2.5);
$GALLERY-PICS-MARGIN: units(1);

/* Intro */
	#intro {
		margin-top : 3em;
		height : calc(100vh - 3em);
		background: $INTRO-IMAGE;
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, bottom center;
		background-repeat: repeat, no-repeat;

		@include sm {
			margin-top: 4em;
			height : calc(100vh - 4em);
		}
	}

	#intro header {
		@include sm {
			margin-top: 1em;
		}
	}

	#intro > .content {
		transition: opacity 0.35s ease;
	}
	#intro-hovered {
		opacity: 1;
	}
	#intro-none {
		opacity: 0;
	}

	#intro p {
		@include sm {
			@include font-size(LARGE);
		}
	}

/* 3 Last events */
#latest-events {
	background: color(HOME_GREY);
}

#one, #two, #three {
	height: 100vh;
	background-attachment: fixed, fixed;
	background-position: top left, center center;

	@include sm {
		background-position: center center, center center;
	}
}

#loading-events {
	padding-top: units(3);
	padding-bottom: units(3);
	background: color(HOME_GREY);
}

#no-gallery {
	width: 90vw;
	padding-left: 10vw;
	padding-top: units(5);
	font-family: "Source Sans Pro";
	font-weight: 600;
	text-transform: inherit;
	text-align: center;
	@include font-size(XXLARGE);
	@include color(DARK_DARK_GREY)
}

/* Contact form */
	#contact > .content > #home-form-hidden {
		opacity: 1;
		transform: none;
	}
	#contact > .content > #home-form-hidden {
		opacity: 0;
		transform: translateY(75vh);
	}

.right > .box {
	right: -20px;
}

.left > .box {
	left: -20px;
}

.content .box .style2 {
	width: 34%;
}

.box {
	border-radius: $ARTICLE-BOX-RADIUS;
}

.darkbg {
	@include fullscreen;
	background-color: overlay(HOME);
	z-index: 5000;
}

#contact .box {
	border-radius: $FORM-BORDER-RADIUS;
	box-shadow: $BOX-SHADOW-FORM-BASE $BOX-SHADOW-FORM-SHIFT-BASE;
}

.main.style1 {
	@include sm {
		padding: 0.6em 15px 0.6em 15px;
	}
}
