<!-- Header -->
<header *ngIf="isOnline()" id="header">
  <!-- Logo -->
  <a [routerLink]='routes.home'><img src="assets/images/logo-ponthe.svg" [alt]="'nav.title.short' | translate" id="logo" /></a>
  <!-- Title -->
  <h1 *ngIf="isWideEnough()"><a [routerLink]='routes.home'>{{ 'nav.title.long' | translate }}</a></h1>
  <h1 *ngIf="!isWideEnough()"><a [routerLink]='routes.home'>{{ 'nav.title.short' | translate }}</a></h1>

  <!-- Navigation on the website -->
  <nav>
    <ul>
      <app-nav-link [route]="routes.galeries" [name]="'nav.galeries' | translate" imgSrc="assets/images/svg_pics.svg"></app-nav-link>
      <app-nav-link *ngIf="isAdmin()" [route]="routes.dashboard" [name]="'nav.dashboard' | translate" imgSrc="assets/images/svg_dashboard.svg"></app-nav-link>
      <app-nav-link [route]="routes.members" [name]="'nav.members' | translate" imgSrc="assets/images/svg_members.svg"></app-nav-link>
      <app-nav-link [route]="routes.material" [name]="'nav.matos' | translate" imgSrc="assets/images/svg_matos.svg"></app-nav-link>
      <app-nav-link (click)="onSignOut()" [route]="routes.auth" [name]="'nav.logout' | translate" imgSrc="assets/images/svg_logout.svg"></app-nav-link>
    </ul>
  </nav>
</header>
