<div class="spacer"></div>

<!-- Header, displayed on the bottom -->
  <header id="header">
    <h1><a routerLink = "/galeries"><strong>{{ name }}</strong></a></h1>
    <nav (click)="changeStateFooter()">
      <ul>
        <li><a class="icon fa-info-circle">A propos de l'album...</a></li>
      </ul>
    </nav>
  </header>

<div class="moderation" *ngIf = "isAdmin">
  <button id="addFiles" type="button" name="button" (click)="prepareAddFiles()">Ajouter des fichiers</button>
  <button id="modere" type="button" name="button" (click)="modere()">Modérer</button>
  <button class="publicprivate" type="button" name="button" *ngIf = "isPublic" (click)="publicPrivate()">Rendre privée</button>
  <button class="publicprivate" type="button" name="button" *ngIf = "!isPublic" (click)="publicPrivate()">Rendre publique</button>
  <button id="deleteevent" type="button" name="button" *ngIf = "enModeration" (click)="deleteEvent()">Supprimer la galerie</button>
  <button id="deletepics" type="button" name="button" *ngIf = "enModeration" (click)="validateDeletionPics()">Supprimer les photos sélectionnées</button>
  <p *ngIf="!isPublic">Cette galerie est privée. Seuls les administrateurs peuvent y accéder.</p>
</div>

<ngx-file-picker #uploader
    [totalMaxSize]="1000"
    [fileMaxCount]="250"
    [fileMaxSize]="1000"
    [uploadType]="'multi'"
    (validationError)= "onValidationError($event)"
    [adapter]="adapter"
    [fileExtensions]="['pdf', 'jpg', 'JPG', 'png', 'mp4', 'docx', 'mov']"
    [enableCropper]="false"
    (uploadSuccess)="onUploadSuccess($event)"
    (removeSuccess)="onRemoveSuccess($event)"
    [showeDragDropZone]="true"
    [showPreviewContainer]="true"
    (fileAdded)="onFileAdded($event)"
    style="margin-bottom: 2vh;"
    *ngIf = "clickAddFiles"
>
</ngx-file-picker>

<!-- Main -->
  <!-- Image viewer -->
<div id="image-viewer" *ngIf = "clicked">
  <ngx-image-viewer [src] = "raw_pics" [index]= "indexViewer"></ngx-image-viewer>
</div>
  <!-- Pictures of the event -->
  <div id="main" (mouseenter) = "survolePics('visible')" (mouseleave) = "survolePics('hidden')">
    <article class="thumb" *ngFor = "let picture of pics; let i = index" [@picsTrigger] = "state(i)">
      <img (click)="onClick(i)" src="{{ picture.base64 }}" alt="" width="100%"/>
      <button id="deleteButton" type="button" name="button" style="color: #fc3" *ngIf = "enModeration && !deleteState(i)" (click)="moderePic(i)">Supprimer</button>
      <button id="deleteButtonSelected" type="button" name="button" style="color: #fc3" *ngIf = "enModeration && deleteState(i)" (click)="moderePic(i)">Supprimer</button>
    </article>
  </div>

<!-- Footer, revealed when clicking on "A propos de l'album" -->
  <footer id="footer" class="panel" [@footerTrigger] = "footerState">
    <div class="inner split">

      <!-- General information on the album -->
      <div>
        <section>
          <h2>{{ name }}</h2>
          <p>{{ resume }}</p>
        </section>
        <section>
          <h2>Suis-nous sur...</h2>
          <ul class="icons">
						<li><a href="https://www.facebook.com/club.ponthe" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="https://upont.enpc.fr/assos/ponthe" class="icon fa-instagram"><span class="label">uPont</span></a></li>
            <li><a href="https://github.com/ENPC-Ponthe/Angular-project" class="icon fa-github"><span class="label">GitHub</span></a></li>
            <li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
					</ul>
        </section>
        <p class="copyright">
          &copy; Ponthé - Club audiovisuel des Ponts et Chaussées.
        </p>
      </div>

      <!-- Contact form -->
      <div>
        <section>
          <h2>Contacte les pros du Ponthé</h2>
          <form  method="post" [formGroup] = "messageForm" (ngSubmit)="onSubmitMessage()">
            <div class="fields">
              <div class="field">
                <textarea name="message" id="message" rows="4" placeholder="Ton mot doux..." formControlName="message"></textarea>
              </div>
            </div>
            <ul class="actions">
              <li><input id="submit" type="submit" value="Vive le Ponthé !" class="primary" /></li>
              <li><input id="reset" type="reset" value="Reset le message" /></li>
            </ul>
          </form>
        </section>
      </div>

    </div>
  </footer>
