@import url("../../assets/assets_g/css/main.css");

.spacer {
  margin-top: 8vh;
}

body {
		background: #242629;
}

img {
  width : 100%;
}

#main .thumb > .image {
				-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				border: 0;
				height: 100%;
				left: 0;
				position: absolute;
				top: 0;
				width: 100%;
			}

#main .thumb > h2 {
  pointer-events: none;
				bottom: 1.875em;
				font-size: 0.8em;
				left: 2.1875em;
				margin: 0;
				position: absolute;
				z-index: 1;
}
