@import url("../../../assets/assets_g/css/main.css");
@import "../../PontheStyle.scss";

$DURATION-HOVER-BUTTON: 0.4s;

section {
  margin-left: 5vw;
}

textarea {
  min-width: 35vw;
  border-radius: $BORDER-RADIUS-BUTTON;
}

textarea:focus {
  box-shadow: $BOX-SHADOW-INPUT-BASE-LIGHT $BOX-SHADOW-INPUT-SHIFT-FOCUS-LIGHT;
}

input {
  transition: background $DURATION-HOVER-BUTTON ease,
              color $DURATION-HOVER-BUTTON ease,
              box-shadow $DURATION-HOVER-BUTTON ease;
}

#submit {
  background: color(WHITE);
  color: color(DARK_DARK_GREY) !important;
  border-radius: $BORDER-RADIUS-BUTTON;
}

#reset {
  background: color(LIGHT_GREY);
  border: 0;
  color: color(DARK_DARK_GREY) !important;
  border-radius: $BORDER-RADIUS-BUTTON;
  box-shadow: none;
}

#submit:hover, #reset:hover {
  background: color(DARK);
  color: color(WHITE) !important;
  box-shadow: $BOX-SHADOW-INPUT-BASE-LIGHT $BOX-SHADOW-INPUT-SHIFT-FOCUS-LIGHT;
}

@media screen and (max-width: 736px) {
  section {
    margin-left: 0;
  }

  textarea {
    width: 100%;
  }
}
