<!-- Contact form -->
<div>
  <section>
    <h2 [innerHTML]="phrases['galeries.contactForm.title']"></h2>
    <form method="post" [formGroup]="messageForm" (ngSubmit)="onSubmitMessage()">
      <div class="fields">
        <div class="field">
          <textarea name="message" id="message" rows="4" [placeholder]="phrases['galeries.contactForm.placeholder']" formControlName="message"></textarea>
        </div>
      </div>
      <ul class="actions">
        <li><input id="submit" type="submit" [value]="phrases['galeries.contactForm.submit']" class="primary" /></li>
        <li><input id="reset" type="reset" [value]="phrases['galeries.contactForm.reset']" /></li>
      </ul>
    </form>
  </section>
</div>
