@import url("../../../assets/assets_g/css/main.css");

#event-panel {
  position: sticky;
}

.footer-panel {
  transition: transform 0.4s ease, opacity 0.4s ease;
}

#footer-visible {
  opacity: 1;
  transform: translateY(2vh) !important;
}
#footer-hidden {
  opacity: 0;
}

@media screen and (max-width: 736px) {
  #footer {
    top: 4em;
    max-height: none;
    height: calc(100vh - 8em);
    padding: 2em;
  }
}
