@import url("../../../assets/assets_g/css/main.css");
@import "../../PontheStyle.scss";

#addFiles, .publicprivate {
  background: $BUTTON-MODERATION-ADDFILES;
}

#modere {
  background: $BUTTON-MODERATION-MODERE;
}

#deleteevent {
  background: $BUTTON-MODERATION-DELETEEVENT;
}

#deletepics {
  background: $BUTTON-MODERATION-DELETEPICS;
}
