<div id="moderation">
  <button id="addFiles" type="button" name="button" (click)="prepareAddFiles()">
    {{ 'moderation.addFiles' | translate }}
  </button>
  <button id="modere" type="button" name="button" (click)="modere()">
    {{ 'moderation.moderate' | translate }}
  </button>
  <button *ngIf="isPublic"
          class="publicprivate" type="button" name="button"
          (click)="publicPrivate()">
    {{ 'moderation.setPrivate' | translate }}
  </button>
  <button *ngIf="!isPublic"
          class="publicprivate" type="button" name="button"
          (click)="publicPrivate()">
    {{ 'moderation.setPublic' | translate }}
  </button>
  <button *ngIf="enModeration"
          id="deleteevent" type="button" name="button"
          (click)="deleteEvent()">
    {{ 'moderation.deleteGallery' | translate }}
  </button>
  <button *ngIf="enModeration"
          id="deletepics" type="button" name="button"
          (click)="validateDeletionPics()">
    {{ 'moderation.deleteAllSelectedPics' | translate }}
  </button>
  <p *ngIf="!isPublic" style="color: #fff">{{ 'moderation.galleryIsPrivate' | translate }}</p>
</div>

<app-upload *ngIf="clickAddFiles"></app-upload>
