<div *ngIf="isAdmin" id="moderationBanner" (click)="displayModerationArea()">
  <img src="../../../assets/images/settings.svg" />
</div>

<app-modal
  [title]="'moderation.moderationArea.title' | translate"
  [closeText]="'close' | translate"
  [visible]="moderationVisibility"
  (close)="hideModerationArea()">

  <div id="leftColumn">
    <p *ngIf="!isPublic">{{ 'moderation.galleryIsPrivate' | translate }}</p>
    <button id="modere" type="button" name="button" (click)="modere()"
            [attr.aria-label]="'moderation.moderate' | translate">
      {{ 'moderation.moderate' | translate }}
    </button>
    <button *ngIf="isPublic"
            class="publicprivate" type="button" name="button"
            (click)="publicPrivate()"
            [attr.aria-label]="'moderation.setPrivate' | translate">
      {{ 'moderation.setPrivate' | translate }}
    </button>
    <button *ngIf="!isPublic"
            class="publicprivate" type="button" name="button"
            (click)="publicPrivate()"
            [attr.aria-label]="'moderation.setPublic' | translate">
      {{ 'moderation.setPublic' | translate }}
    </button>
    <button id="deleteevent" type="button" name="button"
            (click)="openGalleryDeletionModal()"
            [attr.aria-label]="'moderation.deleteGallery' | translate">
      {{ 'moderation.deleteGallery' | translate }}
    </button>
    <button *ngIf="enModeration"
            id="deletepics" type="button" name="button"
            (click)="validateDeletionPics()"
            [attr.aria-label]="'moderation.deleteAllSelectedPics' | translate">
      {{ 'moderation.deleteAllSelectedPics' | translate }}
    </button>      
  </div>

  <app-upload id="rightColumn"></app-upload>
</app-modal>

<app-modal
  id="confirm-delete-gallery"
  [title]="'moderation.deleteGallery.confirm' | translate"
  [visible]="galleryDeletionModal"
  [closeText]="'close' | translate"
  (close)="closeGalleryDeletionModal()">
  <h3>{{ 'event.deleteGallery.galleryWillBeDeleted' | translate }}</h3>
  <button id="deleteevent" type="button" name="button"
            (click)="deleteEvent()"
            [attr.aria-label]="'moderation.deleteGallery' | translate">
      {{ 'moderation.deleteGallery' | translate }}
    </button>
</app-modal>

<app-alert
  [title]="'event.deleteGallery.galleryWasDeleted' | translate"
  [visible]="galleryDeletedModal"
  (close)="finalRedirection()"></app-alert>