@import url("../../../../assets/assets_h/css/main.css");
@import "../../../PontheStyle.scss";

li {
  display: inline-block;
  margin-left: 0.5em;
  font-size: 0.9em;
}

li a {
  display: block;
  color: inherit;
  text-decoration: none;
  height: 3em;
  line-height: 3em;
  padding: 0 0.5em 0 0.5em;
  outline: 0;
}

.svg_links {
  height: 1.75em;
  margin-left: 3vw;
}

@media screen and (max-width: 1680px) {
	li {
		margin-left: 0;
		font-size: 0.875em;
	}
}

@media screen and (max-width: 800px) {
	li {
		font-size: 0.7em;
	}
}

li {
  @include sm {
    display: flex;
    height: units(11.5);
    padding-top: units(1.5);
    padding-bottom: units(1.5);
    border-bottom: 1px solid #c3c3c3;
  }
}

li a {
  @include sm {
    height: units(8);
    width: calc(100vw - 2 * #{units(2)});
    height: 100% !important;
    padding: 0;
  }
}

img {
  @include sm {
    border-radius: units(1);
  }
}

.mobile-a {
  display: flex !important;
  flex-direction: row;
  height: units(4) !important;
  @include font-size(XLARGE)
}

.mobile-a img {
  margin: 0;
  margin-right: units(2);
  height: 100%;
  width: 23vw;
}

.mobile-a h3 {
  letter-spacing: -0.025em;
}