@import url("../../../assets/assets_h/css/main.css");
@import "../../PontheStyle.scss";

.admin_form {
	padding: 2vh 2vw 2vh 2vw;
	background: $DASHBOARD-FORM-BACKGROUND;
	border-radius: $DASHBOARD-FORM-BORDER-RADIUS;
  margin-bottom: 2vh;
	box-shadow: $DASHBOARD-FORM-BOX-SHADOW $DASHBOARD-FORM-BOX-SHADOW-SHIFT-BASE;
}

h3 {
	text-align: left;
	font-size: 1.25em;
	margin-bottom: 2vh;
	color: $PONTHE-DARK-DARK-GREY;
}

h3:hover {
	text-decoration: underline;
	cursor: pointer;
}
