<!-- Intro -->
  <section id="intro" class="main style1 dark fullscreen">

    <!-- Adminstration area -->
    <div class="content" (mouseenter)="survoleAdmin('visible')" >
      <header>
        <h2>Zone d'administration</h2>
      </header>
      <!-- Creation of gallery form -->
      <div [@buttonTrigger] = "adminState">
        <button type="button" name="button" (click)="formVisibility()">Créer un évènement</button><br/><br/>
        <form [formGroup]="eventForm" (ngSubmit)="onSubmitEvent()" *ngIf="eventCreationSelect">
          <input type="text" name="name" placeholder="Nom de la galerie" formControlName="name" /><br/>
          <textarea name="description" placeholder="Description de la galerie" rows="2" formControlName="description"></textarea><br/>
          <input type="submit" value="Valider la création" [disabled]="eventForm.invalid" />
        </form>
        <button type="button" name="button" (click)="navigateToModeration()">Modérer</button>
      </div>
    </div>

  </section>
