<h3 *ngIf="filesToUpload > 0">{{ filesUploaded }} / {{ filesToUpload }} {{ 'upload.filesUploaded' | translate }}</h3>
<div *ngIf="filesUploading.length > 0">
  <h3>{{ 'upload.remainingFiles' | translate }} :</h3>
  <ul>
    <li *ngFor="let file of filesUploading">{{ file }}</li>
  </ul>
</div>
<ngx-file-picker #uploader
  [totalMaxSize]="1000"
  [fileMaxCount]="250"
  [fileMaxSize]="1000"
  [uploadType]="'multi'"
  (validationError)= "onValidationError($event)"
  [adapter]="adapter"
  [fileExtensions]="['pdf', 'jpg', 'JPG', 'jpeg', 'png', 'mp4', 'docx', 'mov', 'avi']"
  [enableCropper]="false"
  (uploadSuccess)="onUploadSuccess($event)"
  (removeSuccess)="onRemoveSuccess($event)"
  [showeDragDropZone]="true"
  [showPreviewContainer]="true"
  (fileAdded)="onFileAdded($event)"
  style="margin-bottom: 2vh;"
>
</ngx-file-picker>
