@import url("../../../assets/assets_h/css/main.css");
@import "../../PontheStyle.scss";

$INTRO-MARGIN-TOP-LARGE: 3em;
$INTRO-MARGIN-TOP-MOBILE: 4em;

/* Intro */
#intro {
	margin-top : $INTRO-MARGIN-TOP-LARGE;
	height : calc(80vh - #{$INTRO-MARGIN-TOP-LARGE});
	background: $INTRO-IMAGE;
	background-size: 256px 256px, cover;
	background-attachment: fixed, fixed;
	background-position: top left, bottom center;
	background-repeat: repeat, no-repeat;

	@include sm {
		margin-top: $INTRO-MARGIN-TOP-MOBILE;
		height: calc(120vh - #{$INTRO-MARGIN-TOP-MOBILE});
	}
}

#admin_area {
	position: absolute;
	top: 5vh;
	width: 90vw;
}

#intro #admin_header {
	margin-bottom: 5vh;
}

#col_admin_1, #col_admin_2 {
	display: inline-block;
	width: 40vw;
	vertical-align: top;
}

#col_admin_1 {
	margin-right: 2.5vw;

	@include sm {
		width: 90vw;
		margin-bottom: 1em;
	}
}

#col_admin_2 {
	margin-left: 2.5vw;

	@include sm {
		width: 60vw;
	}
}

#col_admin_2 button {
	margin-bottom: 3vh;

	@include sm {
		width: 100%;
	}
}

#col_admin_2 a {
	margin-right: 2vw;
}

#col_admin_2 a:hover {
	color: color(YELLOW);
}

button {
  background: $BUTTON-BACKGROUND-GRADIENT;
}

#tutos {
	width: 20vw;
	font-weight: bold;
	background: color(WHITE);
	color: color(DARK_DARK_GREY);
	padding: units(0.5);
	transition: border 0.2s ease, box-shadow 0.2s ease, padding 0.2s ease;
}
#tutos:hover {
	border: units(0.5) solid color(DARK_DARK_GREY);
	padding: 0;
	box-shadow: box-shadow-light(LARGE);
}

#moderation_button {
	width: 20vw;
	font-weight: bold;
}

#private_galleries_title {
	position: absolute;
	bottom: units(4);
	font-size: 1.7em;
}

.main.style1 h2 {
	@include sm {
		font-size: 2.5em;
	}
}
