<!-- Intro -->
<section id="intro" class="main style1 dark fullscreen">

  <!-- Adminstration area -->
  <div class="content" id="admin_area">
    <header id="admin_header">
      <h2>{{ 'dashboard.header.title' | translate }}</h2>
    </header>

    <!-- Creation of gallery form -->
    <div id="col_admin_1">
      <app-gallery-creation-form></app-gallery-creation-form>
      <app-csv-import-form></app-csv-import-form>
    </div>

    <div id="col_admin_2">
        <button id="tutos" type="button" name="button"
              (click)="displayTutorials()"
              [attr.aria-label]="'dashboard.links.tutorials' | translate">
        {{ 'dashboard.links.tutorials' | translate }}
      </button><br/>
      <button id="moderation_button" type="button" name="button"
              (click)="navigateToModeration()"
              [attr.aria-label]="'dashboard.links.moderation' | translate">
        {{ 'dashboard.links.moderation' | translate }}
      </button><br/>
      <span *ngFor="let link of buttonLinks">
        <a [href]="link.address" class="icons fa {{ link.class }} fa-3x" [attr.aria-label]="link.address"></a>
      </span>
    </div>
  </div>

</section>

<app-tutorials [visible]="tutorialsVisible" (close)="displayTutorials()"></app-tutorials>