@import url("../../assets/assets_h/css/main.css");

/* Intro */

	#intro {
		margin-top : 3em;
		height : 92.2vh;
		background: url("../../assets/assets_h/css/images/overlay.png"), url("../../assets/images/introP.jpg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, bottom center;
		background-repeat: repeat, no-repeat;
	}

/* 3 Last events */
	/* One */

		#one {
	    height : 100vh;
			//background: url("../../assets/assets_h/css/images/overlay.png"), url("../../assets/images/wei.jpg");
			background-size: 256px 256px, cover;
			background-attachment: fixed, fixed;
			background-position: top left, center center;
		}

	/* Two */

		#two {
	    height : 100vh;
			//background: url("../../assets/assets_h/css/images/overlay.png"), url("../../assets/images/supponts.jpg");
			background-size: 256px 256px, cover;
			background-attachment: fixed, fixed;
			background-position: top left, center center;
		}

	/* Three */

		#three {
	    height : 100vh;
			//background: url("../../assets/assets_h/css/images/overlay.png"), url("../../assets/images/voyage1.jpg");
			background-size: 256px 256px, cover;
			background-attachment: fixed, fixed;
			background-position: top left, center center;
		}

		.wide-pic {
			display: block;
			width: 52vw;
			margin-left: auto;
			margin-right: auto;
			position: fixed;
			top:0;
			z-index: 10000;
			background-color: white;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			margin-top: 10vh;
			margin-left: 4vw;
		}

		.wide-pic > img {
			display: block;
			width : 100%;
			position: relative;
			top: 5%;
		}

		.wide-pic > caption {
			display: block;
			text-align: center;
			padding: 10px 20px;
		}

		.darkbg {
			top:0;
			left:0;
			width: 100vw;
			height:100vh;
			background-color: rgba(0,0,0,0.75);
			position: fixed;
			z-index: 5000;
		}

		#right_arrow {
			position: fixed;
			z-index: 10000;
			width: 7.5%;
			right: 24vw;
			top: 45vh;
		}

		#left_arrow {
			-webkit-transform: scaleX(-1);
  		transform: scaleX(-1);
			position: fixed;
			z-index: 10000;
			width: 7.5%;
			left: 24vw;
			top: 45vh;
		}
	input {
		background: linear-gradient(30deg, red, yellow);
	}
