@import url("../../assets/assets_h/css/main.css");

/* Intro */

	#intro {
		margin-top : 3em;
		height : 76.5vh;
		background: url("../../assets/assets_h/css/images/overlay.png"), url("../../assets/images/introP.jpg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, bottom center;
		background-repeat: repeat, no-repeat;
	}

/* 3 Last events */
	/* One */

		#one {
	    height : 84.5vh;
			background: url("../../assets/assets_h/css/images/overlay.png"), url("../../assets/images/wei.jpg");
			background-size: 256px 256px, cover;
			background-attachment: fixed, fixed;
			background-position: top left, center center;
		}

	/* Two */

		#two {
	    height : 84.5vh;
			background: url("../../assets/assets_h/css/images/overlay.png"), url("../../assets/images/supponts.jpg");
			background-size: 256px 256px, cover;
			background-attachment: fixed, fixed;
			background-position: top left, center center;
		}

	/* Three */

		#three {
	    height : 84.5vh;
			background: url("../../assets/assets_h/css/images/overlay.png"), url("../../assets/images/voyage1.jpg");
			background-size: 256px 256px, cover;
			background-attachment: fixed, fixed;
			background-position: top left, center center;
		}
