@import url("../../assets/assets_h/css/main.css");

/* Intro */

	#intro {
		background: url("../../assets/assets_h/css/images/overlay.png"), url("../../assets/images/introP.jpg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, bottom center;
		background-repeat: repeat, no-repeat;
	}
