<!-- Intro -->
  <section id="intro" class="main style1 dark fullscreen">
    <div class="content">
      <header>
        <h2>Les membres du Ponthé</h2>
      </header>
      <p>Créé par un 016, Thomas Chevrier, le Ponthé a vu se succéder des générations de cinéastes et photographes...</p>
      <footer>
        <a routerLink="/members" fragment="p020" class="button style2 down">More</a>
      </footer>
    </div>
  </section>

  <section *ngFor = "let team of team_ponthe; let i = index"
            id="{{ team.year_id }}"
            class="main style2 {{ placement(i) }} dark fullscreen">
    <div class="content box style2">
      <header>
        <h2>Ponthé {{ team.year }}</h2>
      </header>
      <p *ngFor = "let poste of team.members">{{ poste }}</p>
    </div>
    <a routerLink="/members" fragment="{{ team.prev_year_id }}" class="button style2 down anchored">Next</a>
  </section>

<script type="text/javascript" src = "../../assets/assets_h/js/main.js">

</script>
