@import url("../../assets/assets_g/css/main.css");

#addFiles, .publicprivate {
  background: linear-gradient(15deg, red, #fc3 70%);
}

#modere {
  background: linear-gradient(-165deg, red, #fc3 70%);
}

#deleteevent {
  background: linear-gradient(35deg, red, #f99 90%);
}

#deletepics {
  background: linear-gradient(35deg, #f99, red 90%);
}
