@import url("../../../assets/assets_g/css/main.css");
@import "../../PontheStyle.scss";

body {
	background: color(DARK_GREY);
}

.spacer {
  margin-top: 4em;

  @include sm {
	  margin-top: units(10);
  }
}

#main .thumb > .image {
	-webkit-tap-highlight-color: color(WHITE);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	vertical-align: middle;
	border: 0;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

#reload-boundary {
	width: 100vw;
	padding: units(10);
	background: color(DARK_GREY);
}