<div class="spacer"></div>

<!-- Main -->
<!-- Private events, only visible for administrators -->
<div id="main" (mouseenter)="survoleGaleries('visible')"
               (mouseleave)="survoleGaleries('hidden')">
  <article *ngFor="let event of privateEvents; let i = index"
           class="thumb"
           [@galeriesTrigger]="state(i)">
    <a [routerLink]="routes.pics + event.slug">
      <img src="{{ event.image }}" alt="Event" width=100%
           style="min-width: 100%; min-height: 100%"/>
    </a>
    <h2><a [routerLink]="routes.pics + event.slug">{{ event.name }}</a></h2>
    <a [routerLink]="routes.pics + event.slug"><div class="private_background"></div></a>
    <div id="private">{{ phrases['galeries.gallery.private'] }}</div>
  </article>
  <!--<article class="thumb">
    <a [routerLink]="routes.videos + 'test'">
      <img src="assets/images/logo-ponthe.png" alt="Vidéo" width=100%
           style="min-width: 100%; min-height: 100%"/>
    </a>
    <h2><a [routerLink]="routes.videos + 'test'">Vidéo</a></h2>
    <a [routerLink]="routes.videos + 'test'"></a>
  </article>-->
</div>

<!-- Public galleries -->
<div id="main" (mouseenter)="survoleGaleries('visible')"
               (mouseleave)="survoleGaleries('hidden')">
  <article *ngFor="let event of galeriesEvents; let i = index"
           class="thumb"
           [@galeriesTrigger]="state(i)">
    <a [routerLink]="routes.pics + event.slug">
      <img src="{{ event.image }}" alt="" width=100%/>
    </a>
    <h2><a [routerLink]="routes.pics + event.slug">{{ event.name }}</a></h2>
  </article>
</div>

<app-loading-spinner *ngIf="displaySpinner" [@spinnerTrigger]="stateSpinner"><app-loading-spinner>
