<app-action-bar></app-action-bar>

<app-infinite-scroll
  [reloadFn]="reloadFunction"
  [loading]="displaySpinner"
  [loadMore]="galeriesService.isLoadingMoreEvents">
    <!-- <SVGImage src="~/assets/images/logo-ponthe.svg" height="100"></SVGImage> -->
    <!-- <SVGImage #svg [src]="svgFile" height="100"></SVGImage> -->
    
  <View *ngFor="let event of galeriesService.galeriesEvents; let i = index">
    <AbsoluteLayout width="100%" (tap)="navigateToEvent(event.slug)">
      <Image [src]="event.image"></Image>
      <Label class="galleryName" [text]="event.name" textWrap="true"></Label>
    </AbsoluteLayout>
  </View>
  <Label *ngIf="!galeriesService.isLoadingMoreEvents && !galeriesService.displaySpinner && galeriesService.galeriesEvents.length === 0" [text]="'galeries.none' | translate" textWrap="true"></Label>
</app-infinite-scroll>

<!--
Original Web template:

<div *ngIf="galeriesService.isLoadingMoreEvents" id="reload-boundary" >
  <app-loading-points></app-loading-points>
</div>

<app-loader-ponthe *ngIf="displaySpinner" @spinnerTrigger><app-loader-ponthe>

-->